.dashboard-layout {
  min-height: 100vh;
  background: #f5f7fa;
}

.main {
  margin-left: 230px;
  min-height: 100vh;
}

.content {
  padding: 30px;
}

.content h2 {
  margin: 0;

  color: #2c3e50;
  font-size: 22px;
}

.content p {
  color: #8a94a6;
  font-size: 14px;
}